#login {
	background-color: #AFAFAF;
	height: 150px;
	width: 500px;
	padding: 20px;
	border: 1px black solid;
}
#content {
	margin-left: 160px;
	padding: 20px;
}
#header {
	margin-left: -4px;
	width: 100%;
	height: 90px;
	background-color: #AFAFAF;
	border: 4px outset black;
	font-size: 110%;
}
#sidebar {
	margin-left: -4px;
	background-color: #AFAFAF;
	border: 1px outset black;
	width: auto;
	height: 1000px;
	float: left;
}
#point {
	text-align: center;
	width: 160px;
	border: 1px solid;
	border-color: black;
}
#point:hover {
	border-bottom: 5px solid;
	border-bottom-color: white;
	font-size: 120%;
}
#leaderboard {
	border: 2px solid black;
}
footer{
	margin-left: -4px;
	background-color: #AFAFAF;
	width: 100%;
	height: 50px;
	border: 1px outset black;
	clear: left;
}
.row {
	text-align: center;
	position: relative;
	display: block;
	width: 80%;
	height: 40px;
	border-bottom: 1px solid #AFAFAF;
}
.name {
	position: relative;
	display: inline-block;
	width: 75%;
	line-height: 45px;
}
.score {
	position: relative;
	display: inline-block;
	width: 25%;
}
.row:nth-child(1) {
	background: gold;
}
.row:nth-child(2) {
	background: #c0c0c0;
}
.row:nth-child(3) {
	background: #a06427;
}