#header {
	margin-left: -4px;
	width: 100%;
	height: 80%;
	background-color: #AFAFAF;
	border: 4px outset black;
	font-size: 110%;
}
#sidebar {
	margin-left: -4px;
	background-color: #AFAFAF;
	border: 1px outset black;
	width: auto;
	height: 1000px;
	float: left;
}
#point {
	text-align: center;
	width: 160px;
	border: 1px solid;
	border-color: black;
}
#point:hover {
	border-bottom: 5px solid;
	border-bottom-color: white;
	font-size: 120%;
}
footer{
	margin-left: -4px;
	background-color: #AFAFAF;
	width: 100%;
	height: 50px;
	border: 1px outset black;
	clear: left;
}