@import url('https://fonts.googleapis.com/css?family=Exo+2:700');
* {
  margin: 0 auto;
  padding: 0;
}

body {
  background: url("fon.png");
  background-color: #212121;
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  text-align: center;
}
a{
  color: whitesmoke;

}
h1 {
  color: whitesmoke;
  font-family: 'Exo 2', sans-serif;
  font-size: 46px;
  font-weight: 900;
  text-transform: uppercase;
}
h4 {
  color: #800000;
  font-family: BOOK ANTIQUA, sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
p {
  max-width: 700px;
  min-height: 200px;
  padding: 0;
  color: whitesmoke;
  font-family: BOOKMAN OLD STYLE;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}

.square {
  height: 60px;
  width: 60px;
  border: 1px dashed white;
  margin: 0 0 0 55px;
  /*   padding: 1px; resize squares */
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  transform: rotateZ(44deg);
}

.square:hover {
  background-color: rgba(27, 182, 239, 0.2);
  transition: ease 0.2s;
  cursor: pointer;
}

.square .icons {
  position: absolute;
  transform: rotateZ(-44deg);
  margin: 20px 0 0px 21px;
}

.fa-facebook,
.fa-twitter,
.fa-dribbbler,
.fa-youtube,
.fa-dribbble {
  width: 11px;
  height: 22px;
  color: white;
  font-family: FontAwesome;
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}

.square:hover .fa-facebook {
  color: rgba(59, 89, 152, 1)
}

.square:hover .fa-twitter {
  color: rgba(27, 182, 239, 1)
}

.square:hover .fa-dribbble {
  color: rgba(199, 59, 111, 1)
}

.square:hover .fa-youtube {
  color: rgba(229, 45, 39, 1)
}
.logo{
   margin: 1em;
   position: fixed;
   bottom: -72px;
   z-index: 99999999999;
   right: 0;
}
svg{

 

}
.pen{
  fill:black;
 animation:rotateInDownLeft 3s forwards;
}
.all{
  animation:rotateOut 3s forwards;
}
@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0,0,0, 0deg);
    opacity: 1;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
 transform: ;
 transform:translateX(850px) translateY(-83px) rotate3d(0,0,1, -60deg);
    opacity: 1;
  }
}
@keyframes rotateOut {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 1;
  }
   
}